* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    padding-right: 5px;
    padding-right: 5px;
    padding: 15px;
    cursor: pointer;
}

.background {
    background: rgb(160, 67, 67);
    background-blend-mode: darken;
    background-size: cover;
}

.nav-list {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
    padding: 10px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    max-width: 10px;
}

.nav-list li a:hover {
    color: grey;
}

.rightnav {
    width: 30%;
    text-align: centre;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
.btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}

.firstsection, .secondsection, .thirdsection {
    padding: 20px;
}

.firstsection, .secondsection, .thirdsection {
    background-color: rgb(235, 165, 137);
}

.box-main {
    max-width: 1000px;
    margin: auto;
    gap: 20px;
}

.image-text-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.image-text-container img {
    width: 50%;
    height: auto;
    border: 2px solid rgb(193, 152, 152);
    border-radius: 10px;
}

.text-container {
    flex: 1;
}

.text-big {
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 35px;
}

.text-small {
    font-size: 18px;
}

.text-footer {
    text-align: center;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

footer {
    background-color: rgb(210, 105, 105);
    padding: 15px;
}

#search {
    box-sizing: border-box;
    width: 70%;
    padding: 8px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.rightnav {
    width: 100%;
    text-align: right;
    margin-top: 10px;
}
